{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1>INFORMATION</h1>
    <h1><a href="{% url 'first' %} ">GO ABD</a></h1>
   <h1> <a href="{% url 'third' %} ">GO dhoni</a></h1>
</header>
<body><center>
     <h1  style="color: darkgreen;"">YUVARAJ SING  </h1>
    <img src="{% static 'images/yuvi.jpeg' %}" alt="">
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <p>There are very few better sights in world cricket than witnessing a free-flowing Yuvraj Singh at his best. 
        Undoubtedly, he is right up there among the greatest match-winners in white-ball cricket. Those glorious cover drives,
         slap cuts through backward point and an effortless wristy drop kick over mid-wicket, all oozed class. His full repertoire 
         was on display during his international debut that came in the 50-overs format against Australia in the 2000 Champions 
         Trophy. It wasn't everyday that a batsman put the formidable Aussie attack to sword during that time and certainly not
         a rookie. Yuvraj had arrived with a bang and what instantly stood out apart from his batting, was the electric fielding
          skills. India's fielding was on an average level in that era and hence someone like Yuvraj came as a whiff of fresh air
       Despite gaining immediate stardom, Yuvraj wasn't able to capitalize on it with fitness and commitment issues dogging him.
       But, as he was to show multiple times in the years to come, the lad from Punjab roared back in style, in the 2002 season 
       where he produced quite a few impact knocks, none bigger than the iconic Natwest final heist with Mohammad Kaif. Since that
       tournament, Yuvraj gradually cemented his spot as a middle order batsman who could build an innings as well as explode at 
       will. His utility left-arm spin also made him a complete limited-overs package and his performances were instrumental in 
       India's steady rise in the shorter formats. They finished runners-up in the 2003 World Cup and despite scoring a lot of runs, 
       Yuvraj still produced some crucial knocks.</p>
</center>
   
    
</body>
</html>